{% extends "basic.html" %}

{% block content %}
{% load crispy_forms_tags %}
<!--Register-->
<div class="container py-5">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
	<h1>Restaurant Information</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form |crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
<!--	<p class="text-center">If you already have an account, <a href="/authentication/login">login</a> instead.</p>-->
</div>

{% endblock %}