{% extends "basic.html" %}
{% block head %}

{% endblock %}
{% block content %}

{% load crispy_forms_tags %}



<div class="container m-5 ">
        <div class="col-sm-8">
            <h4 class="text-center alert alert-info">LIST OF ORDERS</h4>

            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Order date</th>
                        <th scope="col">status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    
                    {% ifequal order.status|stringformat:"s" "1"  %} 
                    <tr class="table-danger">
                    {% endifequal %}
                    {% ifequal order.status|stringformat:"s" "2"  %} 
                    <tr class="table-warning">
                    {% endifequal %}
                    {% ifequal order.status|stringformat:"s" "3"  %} 
                    <tr class="table-success">
                    {% endifequal %}
                    
                        <td>{{ forloop.counter }}</td>
                        <td>{{ order.customer.name }}</td>
                        <td>Rs. {{ order.total_cart_amount }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>status</td>
                        <td><a href="{% url 'orderdetail' order.id %}" class="btn btn-warning btn-sm">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}