{% extends "basic.html" %}
{% block head %}

{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class='row'>
        <div class=" col-4 ">
            <a href="{% url 'edit_profile' %}">
            <table class="table">
                <tr>
                    <td><img src="{{restaurant.image.url}}" class="rounded-circle" width=150 hiehgt=150 alt="Profile Picture"></td>
                    <td class="text-center align-middle"><h3>{{ restaurant.name }}</h3></td>
                </tr>
            </table>
            </a>
        </div>
        <div class="col-8 m-2">
            <a href="{% url 'add_delivery_boy' %}"><button class="btn btn-outline-warning" float=left>delivery</button></a> 
            <a href="{% url 'orders' %}"><button class="btn btn-outline-success" float=left>orders</button></a>
        </div>
    </div>
</div>

<div class="container  ">
    <div class="row my-5">
        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">ADD ITEM</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}<br>
                <button class="btn btn-primary" type="submit">ADD</button>
            </form>
        </div>
        <div class="col-sm-8">
            <h4 class="text-center alert alert-info">LIST OF ITEM</h4>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td scope="row">{{ item.name }}<p style="color : #A2A19F">{{ item.desc }}</p>
                        </td>
                        <td> {{ item.price }}</td>
                        <td>
                            <form method="post" class="d-inline" action="{% url 'delete_item' item.id %}">
                                {% csrf_token %}
                                <a href="{% url 'edit_item' item.id %}" class="btn btn-warning">Edit</a>
                                <input type="submit" class="btn btn-danger" value="Delete"></input>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}