{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        {% for x in restaurant_list %}
        <div class="col-10 col-lg-4 col-sm-6 mx-auto my-3">
            <div class="card h-100">
                <img src="{{x.image.url}}" class="img-card-top" style="object-fit: contain;">
                <div class="card-body">
                    <div class="card-text d-flex justify-content-between">
                        <h5 class="mb-0"><a href="{% url 'customer:restaurantdetail' x.id %}"
                                style="color: black;text-decoration: none;">{{x.name}}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}